<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <header>
        <nav class="Header-contacto">
            <img src="" alt="Perrito informatico">
            <a href="">TambiénLadramos</a>
            <a href="">Telefono</a>
            <a href="">Acceder</a>
            <img src="" alt="Icono user">
        </nav>

        <nav class="Header-Búsqueda">
            <img src="" alt="Logo">
            <a href=""></a>
                <ul>
                    <li>
                        <a href="">Alimento raza</a>
                        <a href="">Alimento Pedigree</a>
                    </li>
                </ul>

                <a href=""></a>
                <ul>
                    <li>
                        <a href="">Peluquería</a>
                        <a href="">Baños</a>
                    </li>
                </ul>
                
                <a href="">Nosotros</a>

                <h1>Barra-búsqueda</h1>
                <a href="">¿Cómo comprar?<img src="" alt="?"></a>
                <img src="" alt="Carrito">
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Sobre nosotros</h3>
            <p>¿Tenes dudas? ¡Contactanos!</p>
            <img src="" alt="Icono-telefono">
            <p>0800-222-800</p>
            <img src="" alt="Icono-correo">
            <p>tambienladramos@gmail.com</p>
        </section>

        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>¡Seguinos!</h3>
            <img src="" alt="Icono-instagram">
            <p>#TambiénLadramos</p>
        </section>

        <section>   
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Legales</h3>
            <p>Institucional</p>
            <p>Política de privacidad</p>
            
        </section>
            <h3>2022 - All rights Reserved</h3>
    </footer>

</body>
</html>