<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <header>
        <nav class="header-contacto">
            <img src="" alt="perrito informatico">
            <a href="">TambiénLadramos</a>
            <a href="">Telefono</a>
            <a href="">Acceder</a>
            <img src="" alt="icono user">
        </nav>

        <nav class="header-busqueda">
            <img src="" alt="Logo">
            <a href=""></a>
                <ul>
                    <li>
                        <a href="">Alimento raza</a>
                        <a href="">Alimento Pedigree</a>
                    </li>
                </ul>

                <a href=""></a>
                <ul>
                    <li>
                        <a href="">Peluquería</a>
                        <a href="">Baños</a>
                    </li>
                </ul>
                
                <a href="">Nosotros</a>

                <h1>Barra-búsqueda</h1>
                <a href="">¿Cómo comprar?<img src="" alt="?"></a>
                <img src="" alt="Carrito">
        </nav>
    </header>
    <main>
        <section>
            <h1>DESTACADOS</h1>
            <a href="
            "><img src="" alt="Flecha-izq">
            <a href="">                
            </a>            
            <a href="">
                <article>Producto1<img src="" alt=""></article>
            </a>
            <a href="">
                <article>Producto2<img src="" alt=""></article>
            </a>
            <a href="">
                <article>Producto3<img src="" alt=""></article>
            </a>
            <a href="">
                <article>Producto4<img src="" alt=""></article>
            </a>
            <a href=""><img src="" alt="flecha-der"></a>
        </section>

        <section>
            <h1>PRODUCTOS</h1> 
            <section>
                <img src="" alt="icono-perrito">
                <h2>ALIMENTO BALANCEADO</h2>
                <article><a href=""><img src="" alt="perrito-chef"></a></article>
                <article><a href=""><img src="" alt="gatito-chef"></a></article>
            </section>

            <section>
                <h2>HIGIENE Y ACCESORIOS</h2>
                <article><a href=""><img src="" alt="perrito-toalla"></a></article>
                <article><a href=""><img src="" alt="gatitos-casita"></a></article>
                <img src="" alt="icono-gatito">
            </section>
        </section>
        
        <section>
            <h1>SERVICIOS</h1>
            <section>
                <img src="" alt="icono-perrito">
                <h2>CORTES DE PELO</h2>
                <article><a href=""><img src="" alt="perrito-presley"></a></article>
                <article><a href=""><img src="" alt="gatito-rasta"></a></article>
            </section>

            <section>
                <h2>BAÑOS</h2>
                <article><a href=""><img src="" alt="perrito-husky"></a></article>
                <article><a href=""><img src="" alt="gatitos-baño"></a></article>
                <img src="" alt="icono-gatito">
            </section>
        </section>

        <section>
            <h1>NOSOTROS</h1>
        </section>
    </main>
    <footer>
        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Sobre nosotros</h3>
            <p>¿Tenes dudas? ¡Contactanos!</p>
            <img src="" alt="Icono-telefono">
            <p>0800-222-800</p>
            <img src="" alt="Icono-correo">
            <p>tambienladramos@gmail.com</p>
        </section>

        <section>
            <!-- <p>FONDO-LOGO</p> -->
            <h3>¡Seguinos!</h3>
            <img src="" alt="Icono-instagram">
            <p>#TambiénLadramos</p>
        </section>

        <section>   
            <!-- <p>FONDO-LOGO</p> -->
            <h3>Legales</h3>
            <p>Institucional</p>
            <p>Política de privacidad</p>
            
        </section>
            <h3>2022 - All rights Reserved</h3>
    </footer>

</body>
</html>